# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
server.stdout.log
server.stderr.log
.server/

# Generated Output Exam Files
data/output/*
!data/output/.gitkeep

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
